body {
  background-image: url(../static/images/starry.gif);
  background-repeat: repeat;
  font-family: 'Lucida Sans'
}

.search-container {
  width: 100%;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.search-bar {
 width: 100%;
 max-width: 45em;
 background: rgba(255, 255, 255, 0.2);
 display: flex;
 align-items: center;
 border-radius: 2em;
 padding: 1em 2em;
 margin: 0 auto;
}

#search-name{
    color: white;
    text-align: center;
}

#search-input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  color: white;
  font-family: 'Lucida Sans'
}

#results-container {
  text-align: center;
}

#img-button {
    border: 0;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}

#search-img{
    height: 3em;
}
