<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/home/style.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../static/home/script.js"></script>
  </head>
  <body>
    <div class="search-bar">
      <h1>StellarSearch</h1>
      <form action="http://127.0.0.1:5000/query" method="post" id="form">
        <label for="search"></label>
        <input
          type="text"
          id="search"
          name="searchQuery"
          placeholder="Search..." />
      </form>
    </div>
  </body>
</html>
