<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <h1 id="search-name">StellarSearch</h1>
    <div class="search-container">
      <form action="" class="search-bar">
        <input
          id="search-input"
          type="text"
          placeholder="Enter your search query"
        />
        <button id="img-button">
          <img id="search-img" src="../static/images/starry_search.png" />
        </button>
      </form>
    </div>
    <div id="results-container">
      <ul id="results-list">
        {% for url in urls %}
        <li><a href="{{ url }}">{{ url }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
